.content {
    margin-top: 10%;
}

.footer {
    margin-top: 10px;
    text-align: center;
    clear: both;
}

.technology {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.technology img {
    width: 30%;
    margin: 2px auto;
}

.copyright {
    float: right;
    line-height: 32px;
}

.github {
    float: left;
}